body, html {
  padding: 0; margin: 0;
  height: 100%;
}

#page {
  position: relative;
  min-height: 100%;
}

#header {
  height: 100px;
  background-color: rgba(255, 0, 0, 0.1);
}

#main {
  display: flex;
  padding-bottom: 100px;
  min-height: calc(100vh - 200px);
}

#sidebar {
  flex: 0 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
  width: 300px;
}

#sidebar.collapsed {
  width: 40px;
}

#content {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
}

.table {
  width: 100%;
  position: relative;
}

.table-header-fixedcolumns {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  overflow: hidden;
  
  z-index: 3;
  background-color: white;
}
.table-header-fixedcolumns.stuck {
  position: fixed;
  left: 300px;
}

.table-header {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  overflow: hidden;
  width: 1000px;
  z-index: 2;
  background-color: white;
}

.table-header.stuck {
  position: fixed;
  left: 500px;
}

.table-body-fixedcolumns {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1;
  background-color: white;
}

.table-body {
  z-index: 0;
  width: 1200px;
  box-sizing: border-box;
  padding-top: 100px;
  padding-left: 200px;
  
  overflow-y: visible;
  overflow-x: scroll;
  position: relative;
}

.table-row {
  overflow:hidden;
}

.table-row:after {
  content: ' ';
  display: table;
  clear: both;
}

.table-cell {
  overflow: hidden;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}

.table-row .table-cell {
  float: left;
}