body, html {
  padding: 0; margin: 0;
  height: 100%;
}

#page {
  position: relative;
  min-height: 100%;
}

#header {
  height: 100px;
  background-color: rgba(255, 0, 0, 0.1);
}

#main {
  display: flex;
  padding-bottom: 100px;
  min-height: calc(100vh - 200px);
}

#sidebar {
  flex: 0 0 auto;
  background-color: rgba(0, 255, 0, 0.1);
  width: 300px;
}

#sidebar.collapsed {
  width: 40px;
}

#content {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
}

.table {
  width: 100%;
}

.table-scroller {
  position: relative;
  overflow-y: visible;
  overflow-x: scroll;
}

.row {
  position: absolute;
  overflow: hidden;
  display: flex;
  z-index: 0;
}
.row.stuck {
  position: fixed;
}

.cell {
  position: absolute;
  z-index: 0;
}

.white {
  background-color: white;
  z-index: 2;
}
.cell.white:before {
  content: ' ';
  display:block;
  position: absolute;
  left: -100px;
  top: 0;
  bottom: 0;
  width: 100px;
  background-color: white;
  z-index: 1;
}